# Create a .env file in the root folder of the project and paste the following content into it
# applying any credentials you may own or need.

# You can enable the BAAS signing key by uncommenting the line below and providing a valid key.

NEXTENDO_SERVER_IP="127.0.0.1"
NEXTENDO_NAT_IP="127.0.0.1"
#NEXTENDO_BAAS_SIGNING_KEY=none (throwaway key)
